 # Quick Polars Local Test.

In [2]:
import polars as pl

# Read Data (eager/at-mention)

In [4]:
iris_data = pl.read_csv("data/iris.csv")

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ sepal.length ┆ sepal.width ┆ petal.length ┆ petal.width ┆ variety   │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ Setosa    │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ Setosa    │
│ …            ┆ …           ┆ …            ┆ …           ┆ …         │
│ 6.3          ┆ 2.5         ┆ 5.0          ┆ 1.9         ┆ Virginica │
│ 6.5          ┆ 3.0         ┆ 5.2          ┆ 2.0         ┆ Virginica │
│ 6.2          ┆ 3.4         ┆ 5.4          ┆ 2.3         ┆ Virginica │
│ 5.9          ┆ 3.0         ┆ 5.1          ┆ 1.8         ┆ Virginica │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

# Print vs Engine-Render

### Print (terminal-style)

In [5]:
print(iris_data)

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ sepal.length ┆ sepal.width ┆ petal.length ┆ petal.width ┆ variety   │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ Setosa    │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ Setosa    │
│ …            ┆ …           ┆ …            ┆ …           ┆ …         │
│ 6.3          ┆ 2.5         ┆ 5.0          ┆ 1.9         ┆ Virginica │
│ 6.5          ┆ 3.0         ┆ 5.2          ┆ 2.0         ┆ Virginica │
│ 6.2          ┆ 3.4         ┆ 5.4          ┆ 2.3         ┆ Virginica │
│ 5.9          ┆ 3.0         ┆ 5.1          ┆ 1.8         ┆ Virginica │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

## Render (engine style; e.g. Jupyter or VSCode)

In [7]:
iris_data

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ sepal.length ┆ sepal.width ┆ petal.length ┆ petal.width ┆ variety   │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ Setosa    │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ Setosa    │
│ …            ┆ …           ┆ …            ┆ …           ┆ …         │
│ 6.3          ┆ 2.5         ┆ 5.0          ┆ 1.9         ┆ Virginica │
│ 6.5          ┆ 3.0         ┆ 5.2          ┆ 2.0         ┆ Virginica │
│ 6.2          ┆ 3.4         ┆ 5.4          ┆ 2.3         ┆ Virginica │
│ 5.9          ┆ 3.0         ┆ 5.1          ┆ 1.8         ┆ Virginica │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

# Various

In [6]:
type(iris_data)

polars.dataframe.frame.DataFrame

# GroupBy

In [22]:
scores = {
    "Zone": ["North", "North", "North", "South", "South", "East", "East", "West", "West"],
    "School": [
        "Rushmore",
        "Rushmore",
        "Rushmore",
        "Bayside",
        "Rydell",
        "Shermer",
        "Shermer",
        "Ridgemont",
        "Hogwarts",
    ],
    "Name": ["Jonny", "Mary", "Jim", "Joe", "Jakob", "Jimmy", "Erik", "Lam", "Yip"],
    "Math": [78, 39, 798, 76, 56, 67, 89, 100, 55],
    "Science": [80, 45, 80, 68, 90, 45, 66, 89, 32],
}


school_df = pl.DataFrame(scores)
print(school_df)

shape: (9, 5)
┌───────┬───────────┬───────┬──────┬─────────┐
│ Zone  ┆ School    ┆ Name  ┆ Math ┆ Science │
│ ---   ┆ ---       ┆ ---   ┆ ---  ┆ ---     │
│ str   ┆ str       ┆ str   ┆ i64  ┆ i64     │
╞═══════╪═══════════╪═══════╪══════╪═════════╡
│ North ┆ Rushmore  ┆ Jonny ┆ 78   ┆ 80      │
│ North ┆ Rushmore  ┆ Mary  ┆ 39   ┆ 45      │
│ North ┆ Rushmore  ┆ Jim   ┆ 798  ┆ 80      │
│ South ┆ Bayside   ┆ Joe   ┆ 76   ┆ 68      │
│ South ┆ Rydell    ┆ Jakob ┆ 56   ┆ 90      │
│ East  ┆ Shermer   ┆ Jimmy ┆ 67   ┆ 45      │
│ East  ┆ Shermer   ┆ Erik  ┆ 89   ┆ 66      │
│ West  ┆ Ridgemont ┆ Lam   ┆ 100  ┆ 89      │
│ West  ┆ Hogwarts  ┆ Yip   ┆ 55   ┆ 32      │
└───────┴───────────┴───────┴──────┴─────────┘

In [23]:
q = school_df.lazy().groupby(by="Zone").agg("School", "Name", "Math", "Science")
q.collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/1500813854.py:1: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  q = school_df.lazy().groupby(by="Zone").agg("School", "Name", "Math", "Science")

shape: (4, 5)
┌───────┬───────────────────────────┬──────────────────────────┬───────────────┬──────────────┐
│ Zone  ┆ School                    ┆ Name                     ┆ Math          ┆ Science      │
│ ---   ┆ ---                       ┆ ---                      ┆ ---           ┆ ---          │
│ str   ┆ list[str]                 ┆ list[str]                ┆ list[i64]     ┆ list[i64]    │
╞═══════╪═══════════════════════════╪══════════════════════════╪═══════════════╪══════════════╡
│ North ┆ ["Rushmore", "Rushmore",  ┆ ["Jonny", "Mary", "Jim"] ┆ [78, 39, 798] ┆ [80, 45, 80] │
│       ┆ "Rushmo…                  ┆                          ┆               ┆              │
│ East  ┆ ["Shermer", "Shermer"]    ┆ ["Jimmy", "Erik"]        ┆ [67, 89]      ┆ [45, 66]     │
│ West  ┆ ["Ridgemont", "Hogwarts"] ┆ ["Lam", "Yip"]           ┆ [100, 55]     ┆ [89, 32]     │
│ South ┆ ["Bayside", "Rydell"]     ┆ ["Joe", "Jakob"]         ┆ [76, 56]      ┆ [68, 90]     │
└───────┴───────────────────────────┴──────────────────────────┴───────────────┴──────────────┘

In [24]:
q = (
    school_df.lazy()
    .groupby(by="Zone")
    .agg("School", "Name", "Math", "Science")
    .filter(pl.col("Zone") == "East")
)
q.collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/306110134.py:1: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  q = school_df.lazy().groupby(by="Zone").agg("School", "Name", "Math", "Science").filter(pl.col('Zone')=='East')

shape: (1, 5)
┌──────┬────────────────────────┬───────────────────┬───────────┬───────────┐
│ Zone ┆ School                 ┆ Name              ┆ Math      ┆ Science   │
│ ---  ┆ ---                    ┆ ---               ┆ ---       ┆ ---       │
│ str  ┆ list[str]              ┆ list[str]         ┆ list[i64] ┆ list[i64] │
╞══════╪════════════════════════╪═══════════════════╪═══════════╪═══════════╡
│ East ┆ ["Shermer", "Shermer"] ┆ ["Jimmy", "Erik"] ┆ [67, 89]  ┆ [45, 66]  │
└──────┴────────────────────────┴───────────────────┴───────────┴───────────┘

In [25]:
q = (
    school_df.lazy()
    .groupby(by="Zone")
    .agg(
        pl.col('Science').std().alias('Science_std'),
    )
)
q.collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/2285314241.py:3: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(by="Zone")

shape: (4, 2)
┌───────┬─────────────┐
│ Zone  ┆ Science_std │
│ ---   ┆ ---         │
│ str   ┆ f64         │
╞═══════╪═════════════╡
│ North ┆ 20.207259   │
│ South ┆ 15.556349   │
│ East  ┆ 14.849242   │
│ West  ┆ 40.305087   │
└───────┴─────────────┘

### Note: order returned by groupby is effectively random (presumably due to soft-threading)

In [31]:
q = (
    school_df
    .lazy()
    .groupby(by='Zone')
    .agg(        
        [
            pl.col('Science').count().alias('Number of Schools'),
            pl.col('Science').max().alias('Science(Max)'),
            pl.col('Science').min().alias('Science(Min)'),
            pl.col('Science').mean().alias('Science(Mean)'),
            pl.col('Math').max().alias('Math(Max)'),
            pl.col('Math').min().alias('Math(Min)'),    
            pl.col('Math').mean().alias('Math(Mean)'),    
        ]
    )    
)
print(q.collect())

shape: (4, 8)
┌───────┬─────────────┬─────────────┬────────────┬────────────┬───────────┬───────────┬────────────┐
│ Zone  ┆ Number of   ┆ Science(Max ┆ Science(Mi ┆ Science(Me ┆ Math(Max) ┆ Math(Min) ┆ Math(Mean) │
│ ---   ┆ Schools     ┆ )           ┆ n)         ┆ an)        ┆ ---       ┆ ---       ┆ ---        │
│ str   ┆ ---         ┆ ---         ┆ ---        ┆ ---        ┆ i64       ┆ i64       ┆ f64        │
│       ┆ u32         ┆ i64         ┆ i64        ┆ f64        ┆           ┆           ┆            │
╞═══════╪═════════════╪═════════════╪════════════╪════════════╪═══════════╪═══════════╪════════════╡
│ South ┆ 2           ┆ 90          ┆ 68         ┆ 79.0       ┆ 76        ┆ 56        ┆ 66.0       │
│ West  ┆ 2           ┆ 89          ┆ 32         ┆ 60.5       ┆ 100       ┆ 55        ┆ 77.5       │
│ East  ┆ 2           ┆ 66          ┆ 45         ┆ 55.5       ┆ 89        ┆ 67        ┆ 78.0       │
│ North ┆ 3           ┆ 80          ┆ 45         ┆ 68.333333  ┆ 798       ┆ 39        ┆ 305.0      │
└───────┴─────────────┴─────────────┴────────────┴────────────┴───────────┴───────────┴────────────┘

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/4245287635.py:4: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(by='Zone')

### .sort() can be used to deal with the variable ordering

In [33]:
q = (
    school_df
    .lazy()
    .groupby(by='Zone')
    .agg(        
        [
            pl.col('Science').count().alias('Number of Schools'),
            pl.col('Science').max().alias('Science(Max)'),
            pl.col('Science').min().alias('Science(Min)'),
            pl.col('Science').mean().alias('Science(Mean)'),
            pl.col('Math').max().alias('Math(Max)'),
            pl.col('Math').min().alias('Math(Min)'),    
            pl.col('Math').mean().alias('Math(Mean)'),    
        ]
    )    
    .sort(by='Zone')
)
print(q.collect())

shape: (4, 8)
┌───────┬─────────────┬─────────────┬────────────┬────────────┬───────────┬───────────┬────────────┐
│ Zone  ┆ Number of   ┆ Science(Max ┆ Science(Mi ┆ Science(Me ┆ Math(Max) ┆ Math(Min) ┆ Math(Mean) │
│ ---   ┆ Schools     ┆ )           ┆ n)         ┆ an)        ┆ ---       ┆ ---       ┆ ---        │
│ str   ┆ ---         ┆ ---         ┆ ---        ┆ ---        ┆ i64       ┆ i64       ┆ f64        │
│       ┆ u32         ┆ i64         ┆ i64        ┆ f64        ┆           ┆           ┆            │
╞═══════╪═════════════╪═════════════╪════════════╪════════════╪═══════════╪═══════════╪════════════╡
│ East  ┆ 2           ┆ 66          ┆ 45         ┆ 55.5       ┆ 89        ┆ 67        ┆ 78.0       │
│ North ┆ 3           ┆ 80          ┆ 45         ┆ 68.333333  ┆ 798       ┆ 39        ┆ 305.0      │
│ South ┆ 2           ┆ 90          ┆ 68         ┆ 79.0       ┆ 76        ┆ 56        ┆ 66.0       │
│ West  ┆ 2           ┆ 89          ┆ 32         ┆ 60.5       ┆ 100       ┆ 55        ┆ 77.5       │
└───────┴─────────────┴─────────────┴────────────┴────────────┴───────────┴───────────┴────────────┘

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/6057844.py:4: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(by='Zone')

### Here's one hack to create custom ordering : joining another dataframe and hiding an invisilbe ordering column

In [36]:
df_sortorder = pl.DataFrame(
    {"Zone": ["North", "South", "East", "West"], "Zone_order": [0, 1, 2, 3]}
).lazy()

q = (
    school_df.lazy()
    .join(df_sortorder, on="Zone", how="left")
    .groupby(by=["Zone", "Zone_order"])
    .agg([pl.max("Science").alias("Science(Max)")])
    .sort("Zone_order")
   # .select(pl.exclude("Zone_order"))
)
q.collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/301029563.py:8: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(by=["Zone", "Zone_order"])

shape: (4, 3)
┌───────┬────────────┬──────────────┐
│ Zone  ┆ Zone_order ┆ Science(Max) │
│ ---   ┆ ---        ┆ ---          │
│ str   ┆ i64        ┆ i64          │
╞═══════╪════════════╪══════════════╡
│ North ┆ 0          ┆ 80           │
│ South ┆ 1          ┆ 90           │
│ East  ┆ 2          ┆ 66           │
│ West  ┆ 3          ┆ 89           │
└───────┴────────────┴──────────────┘

# Insurance CSV

In [37]:
insurance_df = pl.scan_csv("data/insurance.csv")
insurance_df.collect()

shape: (1_338, 7)
┌─────┬────────┬────────┬──────────┬────────┬───────────┬─────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         │
╞═════╪════════╪════════╪══════════╪════════╪═══════════╪═════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ yes    ┆ southwest ┆ 16884.924   │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ no     ┆ southeast ┆ 1725.5523   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ no     ┆ southeast ┆ 4449.462    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ no     ┆ northwest ┆ 21984.47061 │
│ …   ┆ …      ┆ …      ┆ …        ┆ …      ┆ …         ┆ …           │
│ 18  ┆ female ┆ 31.92  ┆ 0        ┆ no     ┆ northeast ┆ 2205.9808   │
│ 18  ┆ female ┆ 36.85  ┆ 0        ┆ no     ┆ southeast ┆ 1629.8335   │
│ 21  ┆ female ┆ 25.8   ┆ 0        ┆ no     ┆ southwest ┆ 2007.945    │
│ 61  ┆ female ┆ 29.07  ┆ 0        ┆ yes    ┆ northwest ┆ 29141.3603  │
└─────┴────────┴────────┴──────────┴────────┴───────────┴─────────────┘

In [45]:
(
    pl.scan_csv("data/insurance.csv").groupby(by="sex").agg([pl.col("charges").sum()])
).collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/682027274.py:2: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  pl.scan_csv("data/insurance.csv").groupby(by="sex").agg([pl.col("charges").sum()])

shape: (2, 2)
┌────────┬──────────┐
│ sex    ┆ charges  │
│ ---    ┆ ---      │
│ str    ┆ f64      │
╞════════╪══════════╡
│ female ┆ 8.3211e6 │
│ male   ┆ 9.4348e6 │
└────────┴──────────┘

In [43]:
q = (
    pl.scan_csv("data/insurance.csv")
    .groupby(by='region')
    .agg(
        [
            (pl.col('sex') == 'male').sum().alias('male'),
            (pl.col('sex') == 'female').sum().alias('female'),
        ]    
    )
    .sort(by='region')
)
q.collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/2882130752.py:3: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(by='region')

shape: (4, 3)
┌───────────┬──────┬────────┐
│ region    ┆ male ┆ female │
│ ---       ┆ ---  ┆ ---    │
│ str       ┆ u32  ┆ u32    │
╞═══════════╪══════╪════════╡
│ northeast ┆ 163  ┆ 161    │
│ northwest ┆ 161  ┆ 164    │
│ southeast ┆ 189  ┆ 175    │
│ southwest ┆ 163  ┆ 162    │
└───────────┴──────┴────────┘

In [46]:
q = (
    pl.scan_csv("data/insurance.csv")
    .groupby(by="region")
    .agg(
        [
            (pl.col("charges").filter(pl.col("sex") == "male"))
            .mean()
            .alias("male_mean_charges"),
            (pl.col("charges").filter(pl.col("sex") == "female"))
            .mean()
            .alias("female_mean_charges"),
        ]
    )
    .sort(by="region")
)
q.collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/2968993180.py:3: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(by="region")

shape: (4, 3)
┌───────────┬───────────────────┬─────────────────────┐
│ region    ┆ male_mean_charges ┆ female_mean_charges │
│ ---       ┆ ---               ┆ ---                 │
│ str       ┆ f64               ┆ f64                 │
╞═══════════╪═══════════════════╪═════════════════════╡
│ northeast ┆ 13854.005374      ┆ 12953.203151        │
│ northwest ┆ 12354.119575      ┆ 12479.870397        │
│ southeast ┆ 15879.617173      ┆ 13499.669243        │
│ southwest ┆ 13412.883576      ┆ 11274.411264        │
└───────────┴───────────────────┴─────────────────────┘

In [66]:
q = (
    pl.scan_csv("data/insurance.csv")
    .groupby(by="region")
    .agg(
        [
            pl.col("smoker").count().alias("smoker_Q_count"),
            (pl.col("smoker") == "yes").sum().alias("yes_smoker_count"),
            (pl.col("smoker") == "no").sum().alias("no_smoker_count"),
        ]
    )
)

q.collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/905978865.py:3: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(by="region")

shape: (4, 4)
┌───────────┬────────────────┬──────────────────┬─────────────────┐
│ region    ┆ smoker_Q_count ┆ yes_smoker_count ┆ no_smoker_count │
│ ---       ┆ ---            ┆ ---              ┆ ---             │
│ str       ┆ u32            ┆ u32              ┆ u32             │
╞═══════════╪════════════════╪══════════════════╪═════════════════╡
│ southwest ┆ 325            ┆ 58               ┆ 267             │
│ northeast ┆ 324            ┆ 67               ┆ 257             │
│ northwest ┆ 325            ┆ 58               ┆ 267             │
│ southeast ┆ 364            ┆ 91               ┆ 273             │
└───────────┴────────────────┴──────────────────┴─────────────────┘

### NOTE: `.count()` counts all entries, `.sum()` counts all values that are true (assuming a boolean on column)

In [60]:
q = (
    pl.scan_csv('data/insurance.csv')
    .groupby(by='region')
    .agg(
        [
            (pl.col('smoker')=='yes').sum()
        ]    
    )
    .sort(by='region')
)
q.collect()

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_58063/1856031717.py:3: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(by='region')

shape: (4, 2)
┌───────────┬────────┐
│ region    ┆ smoker │
│ ---       ┆ ---    │
│ str       ┆ u32    │
╞═══════════╪════════╡
│ northeast ┆ 67     │
│ northwest ┆ 58     │
│ southeast ┆ 91     │
│ southwest ┆ 58     │
└───────────┴────────┘